p{
    background-color: black;
    color: white;
}

@media screen and (max-width: 768px) {
    p{
        background-color: black;
         color:green;
     }
 }
 
 @media screen and (max-width: 480px) {
    p{
        background-color: black;
         color:red;
     }
 }
body {
  width: 650px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

fieldset {
    width: 480px;
}

.list{
    color: black;
    padding: 10px,30px;
}
